Source: menhir
Section: devel
Priority: optional
Maintainer: Samuel Mimram <smimram@debian.org>
Build-Depends: debhelper (>= 4.0.0), dpatch, ocaml-nox (>= 3.10), ocaml-findlib
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.debian.org/svn/pkg-ocaml-maint/trunk/packages/menhir
XS-Vcs-Browser: http://svn.debian.org/wsvn/pkg-ocaml-maint/trunk/packages/menhir/trunk/

Package: menhir
Architecture: any
Depends: ocaml-nox (>= 3.09), ${shlibs:Depends}
Description: Parser generator for OCaml
 Menhir is a LR(1) parser generator for OCaml. It is mostly compatible
 with the standard ocamlyacc and has the following enhancements:
  * it accepts LR(1) grammars,
  * it offers parameterized nonterminal symbols as well as a library of
    standard definitions,
  * it explains conflicts in terms of the grammar,
  * it allows grammar specifications to be split over multiple files and
    parametrized by OCaml modules,
  * it produces reentrant parsers.
