Source: menhir
Section: devel
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders:
  Samuel Mimram <smimram@debian.org>,
  Mehdi Dogguy <dogguy@pps.jussieu.fr>
Build-Depends:
  debhelper (>= 7.0.0),
  dpatch,
  ocaml-nox (>= 3.11.0),
  dh-ocaml (>= 0.4)
Standards-Version: 3.8.0
DM-Upload-Allowed: yes
Homepage: http://gallium.inria.fr/~fpottier/menhir/
Vcs-Git: git://git.debian.org/git/pkg-ocaml-maint/packages/menhir.git
Vcs-Browser: http://git.debian.org/?p=pkg-ocaml-maint/packages/menhir.git

Package: menhir
Architecture: any
Depends:
  ocaml-nox-${F:OCamlAbi},
  ${shlibs:Depends},
  ${misc:Depends}
Description: Parser generator for OCaml
 Menhir is a LR(1) parser generator for OCaml. It is mostly compatible
 with the standard ocamlyacc and has the following enhancements:
  * it accepts LR(1) grammars,
  * it offers parameterized nonterminal symbols as well as a library of
    standard definitions,
  * it explains conflicts in terms of the grammar,
  * it allows grammar specifications to be split over multiple files and
    parametrized by OCaml modules,
  * it produces reentrant parsers.
