#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

DESTDIR := $(CURDIR)/debian/menhir
OCAMLABI := $(shell ocamlc -version)
IS_NATIVE:= $(wildcard /usr/bin/ocamlopt)
TARGET   := $(if $(IS_NATIVE),opt,byte)
STRIPOPT := -e "$(if $(IS_NATIVE),,/native/d)"

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	$(MAKE) TARGET=$(TARGET) PREFIX=/usr
	dh build --after auto_build
	touch $@

clean: unpatch
	dh clean
	$(MAKE) -C src/ clean PREFIX=$(CURDIR)/debian/menhir/usr

install: build install-stamp
install-stamp:
	dh install --before auto_install
	cp src/menhir $(DESTDIR)/usr/bin/
	cp src/standard.mly $(DESTDIR)/usr/share/menhir/
	cp -r demos $(DESTDIR)/usr/share/doc/menhir/
	mkdir -p $(DESTDIR)/usr/lib/ocaml/$(OCAMLABI)/menhirLib/
	sed $(STRIPOPT) src/META > $(DESTDIR)/usr/lib/ocaml/$(OCAMLABI)/menhirLib/META
	cp src/menhirLib.* $(DESTDIR)/usr/lib/ocaml/$(OCAMLABI)/menhirLib/
	dh install --after auto_install
	touch $@

# Build architecture-independent files here.
binary-indep: install-stamp

# Build architecture-dependent files here.
binary-arch: install-stamp
ifeq ($(TARGET),byte)
	echo 'F:OCamlRuntime=ocaml-base-nox-$(OCAMLABI)' >> debian/menhir.substvars
endif
	dh $@

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure patch unpatch
